<!DOCTYPE html>
<html>
  <head>
    <title>NODEJS CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/fontawesome/css/all.min.css">
  </head>
<body style="background-color: yellow; font-family: 'Times New Roman', Times, serif;">

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" id="home">
            <form method="post">
                    <div class="form-group">
                        <label for="name">Name</label>  
                        <input class="form-control-md" name="name" id="name" value="<%= book.name %>" />
                    </div>
                    <div class="form-group">
                        <label>Price</label>  
                        <input class="form-control-md" name="price" value="<%= book.price %>" />
                    </div>
                    <button class="btn btn-dark text-center" id="btn">Save</button>
                    <input type="hidden" value="<%= book.id %>" />
                </form>

            <hr style="background-color: antiquewhite; width: 80px;">
            <a class="btn btn-success" id="btn" href="/">Back</a>
    </div>
    <div class="col-md-4"></div>
</div>


<script src="/bootstrap/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/fontawesome/js/all.min.js"></script>
</html>
