<!DOCTYPE html>
<html>
  <head>
    <title>NODEJS CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/fontawesome/css/all.min.css">
  </head>
  <body style="background-color: yellow; font-family: 'Times New Roman', Times, serif;">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" id="home">
            <h1>NODEJS CRUD WITH MYSQL</h1>
            <hr style="background-color: antiquewhite;">
            <a class="btn btn-success" id="btn" href="/form">Insert Record</a>
            <hr style="background-color: antiquewhite; width: 80px;">
            <a class="btn btn-success" id="btn" href="/select">View Records</a>
            <hr style="background-color: antiquewhite; width: 80px;">
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    
  </body>

<script src="/bootstrap/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/fontawesome/js/all.min.js"></script>
</html>
