<!DOCTYPE html>
<html>
  <head>
    <title>NODEJS CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/fontawesome/css/all.min.css">
  </head>
<body style="background-color: yellow; font-family: 'Times New Roman', Times, serif;">

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" id="home">
            <form method="post">
                <div class="form-group">
                    <label for="username">Username</label>  
                    <input class="form-control-md" name="name" id="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>  
                    <input class="form-control-md" name="password" />
                </div>
                <button class="btn btn-dark text-center" id="btn">Log In</button>
                <input type="hidden" />
            </form>

            <hr style="background-color: antiquewhite; width: 80px;">
    </div>
    <div class="col-md-4"></div>
</div>


<script src="/bootstrap/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/fontawesome/js/all.min.js"></script>
</html>
